.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    background-color: bisque;
    border-bottom: 2px solid #666;
}

.logo {
    width: 100px;
    height: auto;
}

.header h1 {
    font-size: 70px;
    color: #4b2e2e;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
