#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content:flex-end;


}

#nav1 {
    display: flex;
    gap:20px;
    font-size: 20px;
    margin-right: 20px;
    align-items: center;
    background-color: beige;
}